{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: black;
	font-family: Helvetica, sans-serif;
}

.gif{
	height: 50%;
	width: 50%;
}

h2{
	text-align: center;
	font-size: 5cm;
	color: #ea9999;
	margin: 15px;
}
.btn-group {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 50px;
}
button {
	position: absolute;
	width: 150px
	height: inherit;
	color: white;
	font-size: 1cm;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
	box-shadow: 2px gray;
	border: 2px solid #ea9999;
	font-size: 1cm;
}
button:nth-child(1) {
	margin-left: -100px;
	background: #ea9999;
}
button:nth-child(2) {
	margin-right: -100px;
	background: white;
	color: #ea9999;
}
